<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div style="margin-top: 4em;"></div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-auto">
            <div class="alert alert-info">
                <dl class="row">
                    <dd class="col-md-3">Username</dd>
                    <dt class="col-md-9">bob@telmediq.com</dt>
                    <dd class="col-md-3">Password</dd>
                    <dt class="col-md-9">password123</dt>
                </dl>
            </div>

            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <form method="post" action="{% url 'login' %}" novalidate>
                {% csrf_token %}
                <input type="hidden" value="{{ login_challenge }}" name="login_challenge">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Enter email" name="{{ form.username.name }}" value="{{ form.username.value|default_if_none:"" }}">
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" id="exampleInputPassword1" placeholder="Password" name="{{ form.password.name }}">
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            {% if user.is_authenticated %}
                Logged in as {{ user.username }} - <a href="/logout">Logout</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
